:root {
    --branco-primaria: #ffffff;
    --cinza-secundario: #c0c0c0;
    --botao-azul: #167bf7;
    --cor-de-fundo: #00030c;
    --font-principal: 'Inter';
    --botao-azul-efeito: #3c92fa;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-primaria);
    font-family: var(--font-principal);
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
}

.principal {
    background-image: url(img/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__botao {
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-primaria);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}

.botao_secundario {
    background-color: transparent;
    border: 2px solid var(--branco-primaria);
}

.container__aviso {
    font-size: 12px;
    color: var(--cinza-secundario)
}

.container__titulo {
    font-size: 28px;
    font-weight: 700;
}

.container__imagem {
    margin: 1em 0 2em 0;
}

.container__caixa {
    margin: 0 6em;
}

.secundario__imagem {
    width: 80%;
}

.secundario {
    align-items: center;
    margin: 0 10em;
}

.descricao__titulo {
    font-weight: 700;
    font-size: 48px;
    color: var(--branco-primaria);
    margin-bottom: 0.1em;
}

.descricao__texto {
    color: var(--cinza-secundario);
}

.secundario__botao {
    display: inline-block;
    margin-top: 1em;
}

.dispositivos {
    height: 50vh;
    font-size: 40px;
    margin-top: 40px;
    padding-bottom: 10px;
    text-align: center;
    align-items: center;

}

.dispositivos__lista {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    margin: 5em 0;
}

.dispositivos__titulo{
    font-size: 48px;
}

.lista__item {
    text-align: center;
    color: var(--branco-primaria);
    margin-top: 32px;
}

.footer{
    text-align: center;
    margin: 5em 3em;
}
.container__footer{
    display: flex;
    text-decoration: none;
}

.footer__lista{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 2em;
}
.footer__link a{
    text-decoration: none;
    color: var(--branco-principal);
    margin-left: 1em;
}
.footer__texto{
    margin-top: 1em;
}

.footer__lista a:hover{
    color: var(--botao-azul)
}
.footer__link a:active{
    color: purple;
}
.container__botao:hover{
    background-color: var(--botao-azul-efeito);
    color: #00030c;
}